.icons-experience{
    display: flex;
    align-items:center;
    gap: 25px;
    align-items: center;
    align-content: center;

  
    // box-shadow: rgb(253, 253, 253) 0px 1px 4px, rgb(125, 125, 125) 0px 0px 0px 3px;
}