.icons-experience{
    display: flex;
    align-items:center;
    gap: 25px;
   
    align-content: center;
    

    grid-area: empty-icons;

    .path{
        background-origin: padding-box;
    height: 58px;
        width: 58px;
        border: 1px solid white;
        border-radius: 180px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
  
    
}
@media (min-width: 768px) {
    .icons-experience{
        
}
.path{
    border:solid 2px white; 
}
}