.header {
  display: flex;
  flex-direction: column;
  grid-area: header;

  
  gap: 24px;
  color: var(--text-primary);
}

.header img {
  border-radius: 24px;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
  }

  .header h1 {
    font-size: 28px;
    line-height: 34px;
    color: var(--text-primary);
    gap: 15px;
    font-style: oblique;
    font-weight: 700px;
  }

  .header h2 {
    font-size: 20px;
    line-height: 45px;
    font-style: italic;
    color: var(--text-secondary);
  }

  .header img {
    border-radius: 2%;
    border: 2px solid rgb(249, 246, 246);
  }
}
